/* ===================================================================
 * General
 *
 * ------------------------------------------------------------------- */

 body {
   height: 100vh;
  @include vendor('display', 'flex');
  @include vendor('flex-flow', 'column nowrap');
  main {
    @include vendor('flex', '1 1 auto');
  }
 }

 .row {
   @include vendor('display', 'flex');
   @include vendor('flex-flow', 'row wrap');
   @include vendor('justify-content', 'space-between');
   @include vendor('align-items', 'center');
   .col {
     @include vendor('flex', '0 0 auto');
   }
 }
/* ===================================================================
 * Header
 *
 * ------------------------------------------------------------------- */

.site-header {
  position: relative;
  .logo img{
    height: 100px;
  }
}


/* ===================================================================
 * Section
 *
 * ------------------------------------------------------------------- */

section {
  margin-bottom: 3rem;
}


/* ===================================================================
 * Footer
 *
 * ------------------------------------------------------------------- */

.footer {
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
  font-size: 80%;
  &:before {
    content: '';
    display: block;
    background: $brand-color;
    height: 2px;
    width: 30%;
    margin: 3px auto;
  }
  @include media-query($on-smartphone){
    .col {
      @include vendor('flex', '1 0 auto');
    }
  }
}

.footer-social-list {
  @include vendor('display', 'flex');
  @include vendor('justify-content', 'center');
  li a {
    padding: 1rem 1.5rem;
    @include vendor('display', 'flex');
    @include vendor('flex-direction', 'column');

  }
  li i {
    display: block;
    font-size: 1.4rem;
  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}
