.item-label {
  font-weight: bold;
}

.bg-alt {
  background-color: _palette(bg-alt);
}

img.round {
  border-radius: 50%;
}

.credits {
  ul {
    font-size: 0.8em;
    list-style: none;
    padding-left: 0;
    li {
      color: rgba(244,244,255,0.5);
      display: inline-block;
      line-height: 1;
      margin-left: 1em;
      padding-left: 1em;
      border-left: solid 1px rgba(212,212,255,0.3);
      &:first-child, &:nth-child(2) {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
}
